<div class="container-fluid mt-5" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0"
  fxLayoutGap.xs="0">
  <div class="login-card mat-elevation-z8 mb-5" fxFlex="45%">
    <main class="login-content" fxLayout="column" fxLayoutAlign="center center">
      <img src="./assets/img/medio_ambiente_blanco.png" width="400" alt="Página de inicio, Gobierno de México">
      <span class="login-sra">Subsecretaría de Regulación Ambiental</span>
      <span class="login-dgira mb-5 mt-3">Dirección General de Impacto y Riesgo Ambiental</span>
  
      <span class="login-header mb-5 mt-4">Iniciar Sesión</span>
      
      <!-- login form -->
      <form [formGroup]="form" class="login-form align-items-center" fxLayout="column" (ngSubmit)="login($event)">
        <mat-form-field class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Escribe tu usuario" type="text" formControlName='email'>
          <mat-icon matPrefix>person</mat-icon>
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            El nombre de usuario es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Escribe tu contraseña" type="password" formControlName='password'>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            La contraseña es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button style="background-color: #BC955C; color: white" type="submit" (click)="login($event)">Ingresar</button>
      </form>
      <div class="mt-3">
        <a class="forgot-link" routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
      </div>
    </main>

  </div>
  <div class="login-card login-content mat-elevation-z8" fxFlex=45% fxLayout="column" fxLayoutAlign="end start"
    [ngStyle]="unsplashClass()">
    <div class="login-aside-overlay"></div>
    <h1 class="login-welcome-text">Bienvenidos a la DGIRA!</h1>
    <hr class="login-aside-hr">
  </div>
</div>
<ng-http-loader></ng-http-loader>