<div class="row">

    <div class="col col-sm-8 offset-md-2">
        <h1 class="float-left"><strong>M</strong>onitor de
            <strong>I</strong>mpacto y
            <strong>R</strong>iesgo
            <strong>A</strong>mbiental
        </h1>
    </div>
    <div class="col col-sm-2">
        <fa-icon [icon]="faLeaf" size="6x" class="color-verde"></fa-icon>
    </div>
</div>
<div class="row">
    <div class="col col-sm-8 offset-md-2">
        <h2 class="float-left">Subsecretaría de Gestión para la Protección Ambiental</h2><br/>
        <h3 class="float-left">Dirección General de Impacto y Riesgo Ambiental</h3>
    </div>
</div>
<div class="row">
    <div class="col col-sm-8 offset-md-2">
        <img src="assets/img/2021_logo.png" class="float-left" alt="logo semarnat"/>
    </div>
</div>